@charset "utf-8";
code {
	font-size: 85%;
	border-radius: 3px;
	font-family: monospace, monospace;
	color: #666666;
	background-color: #F6F6F6;
	padding-top: 0.2em;
	padding-right: 0.3em;
	padding-bottom: 0.2em;
	padding-left: 0.3em;
}
body p {
	font-family: Arial, Helvetica, sans-serif;
}
body table {
	border-collapse: collapse;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
}
table.bold {
	font-weight: bold;
	text-align: center;
	width: auto;
}
table.wathet {
	color: #0099FF;
}
.Instrution {
	font-size: small;
	font-weight: bold;
}
.ital {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.deleteline {
	text-decoration: line-through;
}.AutoAdapt {
	width: 80%;
	_height: 120px;
	padding: 3px;
	outline: 0;
	border: 1px solid #000000;
	word-wrap: break-word;
	overflow-x: hidden;
	overflow-y: auto;
	_overflow-y: visible;
	font-family: monospace, monospace;
	font-size: 14px;
}
.Note {
	font-size: small;
	font-family: "黑体";
}
.wathet {
	color: #09F;
}
