@charset "utf-8";
.divtitle {
	font-size: xx-large;
	font-weight: bold;
}
.mediumdivtitle {
	font-size: x-large;
	font-weight: bold;
}
.smalldivtitle {
	font-size: large;
	font-weight: bold;
}
.tinydivtitle {
	font-size: medium;
	font-weight: bold;
}
