@charset "utf-8";
.tbbold {
	border-bottom-width: 2px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-left-width: 2px;
	font-weight: bold;
	text-align: center;
	width: auto;
}
.tbyellow {
	color: #DFDF00;
}
